a:link, a:visited, a:hover, a:active {
    color: #0000FF;
}

body {
    background-color: #FFFFFF;
    color: #000000;
}

div.entete {
    background-image: url("ensimag.png");
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

h3 {
    background-color: #00FF00;
}

h4 {
    background-color: #FFFF00;
}

